<li class="{{=it.li_class}}">
		<div class="timeline-image">
			<!--data-original="{{=it.img}}" src="./img/clear.gif"-->
			<img  src="{{=it.img}}" class="lazy img-circle img-responsive" alt="">
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4>{{=it.dates}}</h4>
				<h4 class="subheading">{{=it.title}}</h4>
			</div>
			<div class="timeline-body wow {{=it.timeline_body_alternation}}">
				<p class="text-muted">
					{{=it.description}}
				</p>
			</div>
		</div>
</li>